<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.hotelApp"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.7.0" />

        <name>HotelApp</name>

        <description>
            Aplicación de prueba para hoteles. 
        </description>

        <author href="#" email="ismaharo18@gmail.com">
            Ismael Haro
        </author>
        
        <icon src="img/icon.png" />
    </widget>